<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>两行满屏布局</title>
<style type="text/css">
html,body{
	height:100%;
}

body{
	padding:0;
	margin:0;
}

#header{
	height:50px;
	background-color:#CCC;
	color:#fff;
}

#main{
	position:absolute;
	top:50px;
	right:0;
	left:0;
	bottom:0;
	width:100%;
	background-color:#999;
	color:#fff;
}
</style>
</head>

<body>
<div id="header">
	header萨达是短发倒萨飞洒
</div>
<div id="main">
	main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>
	main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>
</div>
</body>
</html>